// Temas

$primary: #6d28d9;
$dark: #0f172a;
$light: #FFFFFF;
$secondary: #f1f5f9;
// Tipografía

$body-color: $dark;
$font-family-sans-serif: 'Inter', sans-serif;
$text-muted: #64748b;

// Botones



// Modal

//$modal-backdrop-opacity: .9;

// Offcanvas

$offcanvas-horizontal-width: 600px;